* {
    box-sizing: border-box;
}

body {
    background-color: rgb(70, 111, 245);
    font-family: "Times New Roman", Ubuntu, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

header {
    color: rgb(15, 63, 219);
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

section.h {
    display: flex;
    flex-direction: column;
}

footer {
    color: rgb(15, 9, 9);
}

header,
main,
footer {
    max-width: 960px;
    margin: 0 auto;
}

main {
    background-color: white;
    margin-top: -16px;
    margin-bottom: -16px;
}

header,
footer {
    background: rgb(235, 231, 231);
}

nav li {
    padding-left: 100px;
    display: inline-block;
    padding: 10px;
    margin: 2px;
}

nav ul {
    margin-top: -56px;
    margin-left: 320px;
}

nav a {
    text-decoration: none;
    color: white;
}

.active {
    color: rgb(70, 211, 236);
}

nav ul li a:hover {
    background-color: lavender;
    color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
}

div.hero.img {
    width: 100%;
}

section. sec1 {
    background-color: rgb(160, 212, 241);
    display: flex;
    align-items: center;
    padding: 9px;
}

section.sec2 {
    background-color: #c3ebfc;
    display: flex;
    align-items: center;
    padding: 70px;
    image-resolution: 300dpi
}

section.sec3 {
    background-color: rgb(33, 204, 235);
    text-align: center;
    padding: 10px;
}

.icon {
    height: 60px;
    margin-left: 13px;
    margin-top: 23px;
}

h2 {
    text-decoration: none;
    margin-top: 0px;
    margin-right: 70px;
    margin-left: 70px;
}

footer div {
    margin-left: 87px;
    margin-top: -20px;
    padding: 15px;
    margin-right: -30px;
}

div.info {
    display: flex;
    padding: 1rem;
    margin-top: -70px;
}

.copyright {
    font-size: 13.5px;
    text-align: center;
    padding: 15px;
    margin-top: -45px;
    margin-left: -40px;
}

.paragraph {
    padding: 60px;
    margin-top: -65px;
}