            @import url('https://fonts.google.com/specimen/Kaushan+Script?query=script');
             :root {
                --primary-color: #d65ec6;
                --secondary-color: #19bff1;
                --accent1-color: white;
                --accent2-color: rgb(19, 168, 228);
                --heading-font: "Kaushan Script";
                --paragraph-font: Ariel, Helvetica, sans-serif
            }
            
            html {
                background-color: var(--accent2-color)
            }
            
            body {
                max-width: 900px;
                margin: 0 auto;
                background-color: white;
                padding: 1em
            }
            
            img {
                max-width: 100%
            }
            
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-family: var(--heading-font);
                color: var(--primary-color)
            }
            
            header {
                padding: 1em;
                text-align: center;
                background-image: url(../images/rose.jpg);
            }
            
            header>h1 {
                color: var(--primary-color);
            }
            
            p {
                font-family: var(--paragraph-font);
                color: black;
                padding: 1em
            }
            
            .colors {
                width: 100%;
                min-width: 350px;
                margin: auto;
                text-align: center
            }
            
            .colors th {
                background-color: rgb(202, 48, 48)
            }
            
            .colors td {
                width: 25%;
                height: 3em
            }
            
            .primary {
                background-color: var(--primary-color)
            }
            
            .secondary {
                background-color: var(--secondary-color)
            }
            
            .accent1 {
                background-color: var(--accent1-color)
            }
            
            .accent2 {
                background-color: var(--accent2-color)
            }
            
            nav {
                background-color: var(--accent2-color);
                line-height: 1em;
                text-align: center;
                font-size: 1.2em;
            }
            
            nav ul {
                list-style-type: none;
                max-width: 700px;
                margin: 0 auto;
                padding: 10px;
                overflow: hidden;
                background-color: var(--secondary-color);
                font-family: var(--head-font);
                display: flex;
            }
            
            nav li {
                text-align: center;
                padding-right: 100px;
                margin: 0;
                text-decoration: aliceblue;
            }
            
            main {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            
            h2 {
                text-align: center;
            }
            
            .grid-card-container {
                margin: 0rem;
                padding: 2em;
            }
            
            grid-card-article-title {
                text-align: center;
            }
            
            .icon {
                height: 60px;
                margin-left: 13px;
                margin-top: 23px;
            }
            
            .contact1 {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                justify-items: center;
                align-items: center;
                text-align: center;
                background-color: rgb(224, 70, 212);
            }
            
            .root {
                text-align: center;
            }
            
            .root2 {
                background-color: rgb(224, 70, 212);
                text-align: center;
            }
            
            .gridarea1 {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
            
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
            
            .about-us {
                font-size: 1.4em;
            }
            
            .container4 .seek ul li {
                font-size: 16px;
            }
            
            .container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 30px;
            }
            
            .container .contactinfo {
                width: 50%;
                display: flex;
                flex-direction: column;
            }
            
            .container .contactinfo .box {
                position: relative;
                padding: 20px 0;
                display: flex;
            }
            
            form {
                /* Center the form on the page */
                margin: 0 auto;
                width: 400px;
                /* Form outline */
                padding: 1em;
                border: 1px solid #CCC;
                border-radius: 1em;
                background-color: rgba(245, 111, 234, 0.959);
                height: 300px;
                display: flex;
            }
            
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
            
            form li+li {
                margin-top: 1em;
            }
            
            label {
                /* Uniform size & alignment */
                display: inline-block;
                width: 90px;
                text-align: right;
            }
            
            input,
            textarea {
                /* To make sure that all text fields have the same font settings
         By default, textareas have a monospace font */
                font: 1em sans-serif;
                /* Uniform text field size */
                width: 300px;
                box-sizing: border-box;
                /* Match form field borders */
                border: 1px solid #999;
            }
            
            input:focus,
            textarea:focus {
                /* Additional highlight for focused elements */
                border-color: #000;
            }
            
            textarea {
                /* Align multiline text fields with their labels */
                vertical-align: top;
                /* Provide space to type some text */
                height: 5em;
            }
            
            .button {
                /* Align buttons with the text fields */
                padding-left: 90px;
                /* same size as the label elements */
            }
            
            button {
                /* This extra margin represent roughly the same space as the space
         between the labels and their text fields */
                margin-left: .5em;
            }
            
            #feedback {
                /* add styling and layout properties of your own design here as needed */
                padding: 10px;
                text-align: center;
                display: none;
                color: blue;
                /* we will make the element invisible until the form is submitted successfully */
            }
            
            main2 {
                background-image: url(../images/background.jpg);
                background-size: cover;
                display: grid;
                grid-template-columns: 1fr 2fr;
            }