    @media only screen and (max-width:856px) {
        .toggle {
            display: block;
        }
        .toggle:before {
            line-height: 40px;
        }
        nav ul {
            width: 100%;
        }
        nav li {
            display: block;
            text-align: center;
        }
        nav a {
            font-size: 20px;
        }
    }